// @keyframes logosketch{
//   0% {
//     opacity: 0;
//     fill: none;
//     stroke-dashoffset: 240;
//   }
//
//   30% {
//     opacity: 1;
//     fill: none;
//     stroke-dashoffset: 240;
//   }
//
//   75% {
//     // fill: rgba(10, 64, 85, 0);
//     fill: rgba(255, 255, 255, 0);
//   }
//
//   100% {
//     opacity: 1;
//     // fill: rgba(10, 64, 85, 1);
//     // fill: rgba(255, 255, 255, 1);
//     fill: $blue;
//   }
// }


.svg_logo {
  width: 100%;

	svg {
	  margin-top: 25px;
	  // margin-left: 20px;
	  width: 100px;
	  max-width: 60%;
    fill: $color-white;

	  @media (min-width:$small) {
	  	margin-top: 20px;
			max-width: 60%;
	  }
	}

	.st0{
		fill:none;
		stroke: $blue;
		stroke-width:1;
		stroke-miterlimit:10;
	}

	path {
    stroke-dasharray: 240;
    opacity: 1;
    // animation: logosketch 5s cubic-bezier(.24,.44,.67,.43);
    // animation-fill-mode: forwards;
  }
}
