
@keyframes sky {
  0% { transform: translate3d(-50%,0px,0px); }
  50% { transform: translate3d(-49%,-10px,0px); }
  100% { transform: translate3d(-50%,0px,0px); }
}

@keyframes water {
  0% { transform: translate3d(-50%,2px,0px); }
  50% { transform: translate3d(-48%,0px,0px); }
  100% { transform: translate3d(-50%,2px,0px); }
}

.sky {
  -webkit-animation: sky 10s infinite;
  -moz-animation:    sky 10s infinite;
  -o-animation:      sky 10s infinite;
  animation:         sky 10s infinite;
}

.city {

}

.water {
  -webkit-animation: water 9s infinite;
  -moz-animation:    water 9s infinite;
  -o-animation:      water 9s infinite;
  animation:         water 9s infinite;
}
